<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="https://i.ibb.co/DDWG7sK/showgist-half.png" sizes="128x128">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <!-- Primary Meta Tags -->
  <title>ShowGist | Contact</title>
  <meta name="title" content="ShowGist">
  <meta name="description"
    content="A modern blog where an edgy teenager writes articles about his favorite stuff (mostly movies and tv shows) in his free time.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://showgist.herokuapp.com/contact">
  <meta property="og:title" content="ShowGist">
  <meta property="og:description"
    content="A modern blog where an edgy teenager writes articles about his favorite stuff (mostly movies and tv shows) in his free time.">
  <meta property="og:image" content="https://i.ibb.co/DDWG7sK/showgist-half.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://showgist.herokuapp.com/contact">
  <meta property="twitter:title" content="ShowGist">
  <meta property="twitter:description"
    content="A modern blog where an edgy teenager writes articles about his favorite stuff (mostly movies and tv shows) in his free time.">
  <meta property="twitter:image" content="https://i.ibb.co/DDWG7sK/showgist-half.png">


  <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../vendors/linericon/style.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="../css/style.css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />

  <header class="header_area" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <h1 class="page-heading">ShowGist</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar" style="background-color: black;"></span>
            <span class="icon-bar" style="background-color: black;"></span>
            <span class="icon-bar" style="background-color: black;"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
              <li class="nav-item active"><a class="nav-link" href="/contact">Contact</a>
              <li class="nav-item"><a class="nav-link" href="/subscribe">Subscribe</a>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-social" style="margin-right: 20px;">
              <li><a href="https://www.facebook.com/theshowgist/"><i class="ti-facebook"
                    style="font-size: 25px;"></i></a></li>
              <li><a href="https://www.instagram.com/task_failed_successfully.exe/"><i class="ti-instagram"
                    style="font-size: 25px;"></i></a></li>
            </ul>
            <p class="h2"
              style="color: #139283; display: inline; white-space: nowrap; text-align: right; margin-right: -50px;">Blog
              By Samyak Jain</p>
            <br>
            <br>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <style>
    .page-heading {
      text-decoration: none;
      display: inline-block;
      color: black;
      font-size: 3.4rem;
      color: #139283;
      margin-top: 10px;
    }

    /* add a empty string after the elment with class .page-heading */
    .page-heading:after {
      color: black;
      content: '';
      display: block;
      height: 5px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
      /* .5 seonds for changes to the width and background-color */
      -webkit-transition: width .5s ease, background-color .5s ease;
      /* Chrome and Safari */
      -moz-transition: width .5s ease, background-color .5s ease;
      /* FireFox */
    }

    /* Change the width and background on hover, aka sliding out */
    .page-heading:hover:after {
      color: black;
      width: 100%;
      background: #1abc9c;
    }

    .page-heading:hover:before {
      color: black;
      visibility: visible;
      width: 100%;
    }

    @media (min-width: 770px) {
      .card-title {
        font-size: 2.2rem;
      }


      #cardDescription {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 430px) {
      .card-title {
        font-size: 1.5rem;
      }

      #cardDescription {
        font-size: 1rem;
      }

      .page-heading {
        font-size: 2.5rem;
      }
    }

    @media (max-width: 335px) {
      .page-heading {
        font-size: 2.3rem;
      }
    }
  </style>
</head>

<body> <br> <br>
  <h3 align="left" style="text-align: center; font-size: 2rem;">Greetings, Fellow Human!</h3> <br> <br>
  <h4 align="center" style="text-align: center; color: #000;"> Contact Me!<br> <br> I will reply speedily because I know
    the value of your time and mine. <br> <br> (Hint: Our time is very important) <br> </h4> <br>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="../js/jquery.ajaxchimp.min.js"></script>
  <script src="../js/mail-script.js"></script>
  <script src="../js/main.js"></script> <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
  <div class="form-container">
    <h1 class="brand" align="center" style="text-align: center; font-size: 1.8rem;">Write To Me Now!</h1> <br> <br>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h2 align="center" style="font-size: 2em;">ShowGist</h2> <br> <br>
        <ul align="center" style="text-align: center; font-size: 1.2rem;">
          <li><i class="fa fa-globe"></i> https://showgist.herokuapp.com/</li> <br>
          <li><i class="fa fa-phone"></i><a href="tel:8178685182"
              style="text-decoration: underline; color: #797979">(+91) 8178685182</a></li> <br>
          <li><i class="fa fa-envelope"></i> <a href="mailto:mail.showgist@gmail.com"
              style="text-decoration: underline; color: #797979;">mail.showgist@gmail.com</a></li> <br>
          <li><i class="fas fa fa-whatsapp fa-lg"></i> <a href="https://api.whatsapp.com/send?phone=918178685182"
              style="text-decoration: underline; color: #797979;">(+91) 8178685182</a></li>
        </ul>
      </div>
      <div class="contact">
        <div class="alert">{{msg}}</div>
        <form method="POST" action="sendMsg">
          <p> <label>Name</label> <input type="text" name="name" id="name" required> </p>
          <p> <label>Company</label> <input type="text" name="company" id="company"> </p>
          <p> <label class="email">Email Address</label> <input type="email" name="email" id="email" required> </p>
          <p> <label>Phone Number (Preferably WhatsApp)</label> <input type="text" name="phone" id="phone"> </p>
          <p class="full"> <label>Message</label> <textarea name="message" rows="5" id="message"></textarea> </p>
          <p class="full"> <button type="submit" onclick="submitForm()">Submit</button> </p>
        </form>
      </div>
    </div>
  </div><br><br><br>
  <style>
    .form-container {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .brand {
      text-align: center;
    }

    .brand span {
      color: #fff;
    }

    .wrapper {
      box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    }

    .wrapper>* {
      padding: 1em;
    }

    .company-info {
      background: #c9e6ff;
    }

    .company-info h3,
    .company-info ul {
      text-align: center;
      margin: 0 0 1rem 0;
    }

    .contact {
      background: #f9feff;
    }

    /* FORM STYLES */
    .contact form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    .contact form label {
      display: block;
    }

    .contact form p {
      margin: 0;
    }

    .contact form .full {
      grid-column: 1 / 3;
    }

    .contact form button,
    .contact form input,
    .contact form textarea {
      width: 100%;
      padding: 1em;
      border: 1px solid #c9e6ff;
    }

    .contact form button {
      background: #c9e6ff;
      border: 0;
      text-transform: uppercase;
    }

    .contact form button:hover,
    .contact form button:focus {
      background: #92bde7;
      color: #fff;
      outline: 0;
      transition: background-color 2s ease-out;
    }

    .alert {
      text-align: center;
      padding: 10px;
      background: #79c879;
      color: #fff;
      margin-bottom: 10px;
      display: block;
    }

    /* LARGE SCREENS */
    @media(min-width:700px) {
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      .wrapper>* {
        padding: 2em;
      }

      .company-info h3,
      .company-info ul,
      .brand {
        text-align: left;
      }
    }

    @media (max-width: 375px) {
      .email {
        margin-bottom: 60px;
      }
    }

    @media (min-width: 420px) and (max-width: 768px) {
      .email {
        margin-bottom: 33px;
      }
    }
  </style>
  <script>/* Your web app's Firebase configuration*/var firebaseConfig = {apiKey: "AIzaSyDqWjirHDpVYbM63fyz1YKbsOnAQ5ynAhc", authDomain: "samyak-personal.firebaseapp.com", databaseURL: "https://samyak-personal.firebaseio.com", projectId: "samyak-personal", storageBucket: "samyak-personal.appspot.com", messagingSenderId: "653889786069", appId: "1:653889786069:web:14d374d33e41d2f2dcd25c"}; /* Initialize Firebase*/ firebase.initializeApp(firebaseConfig); /* Reference messages collection*/var messagesRef = firebase.database().ref('showgist/messages');/* Listen for form submitdocument.getElementById('contactForm').addEventListener('submit', submitForm);*//* Submit form*/function submitForm() { /*e.preventDefault();*/ /* Get values*/ var name = getInputVal('name'); var company = getInputVal('company'); var email = getInputVal('email'); var phone = getInputVal('phone'); var message = getInputVal('message'); /* Save message*/ saveMessage(name, company, email, phone, message); /* Show alert*/ document.querySelector('.alert').style.display = 'block'; /* Hide alert after 3 seconds*/ setTimeout(function () {document.querySelector('.alert').style.display = 'none';}, 5000); /* Clear form*/ document.getElementById('contactForm').reset();}/* Function to get get form values*/function getInputVal(id) {return document.getElementById(id).value;}/* Save message to firebase*/function saveMessage(name, company, email, phone, message) {var newMessageRef = messagesRef.push(); newMessageRef.set({name: name, company: company, email: email, phone: phone, message: message});} </script>
</body>

</html>