html(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:w='urn:schemas-microsoft-com:office:word', xmlns:m='http://schemas.microsoft.com/office/2004/12/omml', xmlns='http://www.w3.org/TR/REC-html40')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=us-ascii')
		meta(name='Generator', content='Microsoft Word 15 (filtered medium)')
		//
			if !mso
			style.
			v\:* {behavior:url(#default#VML);}
			o\:* {behavior:url(#default#VML);}
			w\:* {behavior:url(#default#VML);}
			.shape {behavior:url(#default#VML);}
		style.
			@font-face < !-- {
			font-family: Helvetica;
			panose-1: 2 11 6 4 2 2 2 2 2 4;
			}
			@font-face {
			font-family: Mangal;
			panose-1: 2 4 5 3 5 2 3 3 2 2;
			}
			@font-face {
			font-family: "Cambria Math";
			panose-1: 2 4 5 3 5 4 6 3 2 4;
			}
			@font-face {
			font-family: Calibri;
			panose-1: 2 15 5 2 2 2 4 3 2 4;
			}
			a:link,
			span.MsoHyperlink {
			mso-style-priority: 99;
			color: #0563C1;
			text-decoration: underline;
			}
		//
			if gte mso 9
			xml
			o:shapedefaults(v:ext='edit', spidmax='1029')
		//
			if gte mso 9
			xml
			o:shapelayout(v:ext='edit')
			o:idmap(v:ext='edit', data='1')
	body(lang='EN-IN', link='#0563C1', vlink='#954F72')
		.WordSection1(style='page: WordSection1;')
			table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;background:white;border-collapse:collapse')
				tbody
					tr
						td(valign='top', style='padding:0cm 0cm 0cm 0cm')
							table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
								tbody
									tr
										td(valign='top', style='background:white;padding:0cm 0cm 0cm 0cm')
											div(align='center')
												table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
													tbody
														tr
															td(valign='top', style='padding:0cm 0cm 0cm 0cm')
																div(align='center')
																	table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='500', style='width:375.0pt;border-collapse:collapse')
																		tbody
																			tr
																				td(width='500', valign='top', style='width:375.0pt;padding:0cm 0cm 0cm 0cm')
																					div(align='center')
																						table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																							tbody
																								tr
																									td(valign='top', style='padding:3.75pt 0cm 3.75pt 0cm')
																										div(align='center')
																											table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																												tbody
																													tr
																														td(valign='top', style='padding:0cm 0cm 0cm 0cm')
																															p.MsoNormal(align='center', style='text-align:center;mso-line-height-alt:0pt')
																																img#Picture_x0020_4(width='500', height='391', style='width:5.2083in;height:4.0694in', src='https://i.ibb.co/10M7VQf/showgist-email-banner.jpg', alt='ShowGist Banner')
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														div(align='center')
																															table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																																tbody
																																	tr
																																		td(valign='top', style='border:none;border-top:solid #BBBBBB 1.0pt;padding:0cm 0cm 0cm 0cm')
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(align='center', style='margin:0cm;margin-bottom:.0001pt;text-align:center;line-height:12.75pt')
																															a(href='http://showgist.herokuapp.com/', target='_blank')
																																span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US') Home
																															span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US')         
																															a(href='http://showgist.herokuapp.com/about', target='_blank')
																																span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US') About
																															span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US')       
																															a(href='http://showgist.herokuapp.com/contact', target='_blank')
																																span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US') Contact
																															span(style='font-size:14.0pt;font-family:"Helvetica",sans-serif;color:#404040;mso-fareast-language:EN-US')
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														div(align='center')
																															table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																																tbody
																																	tr
																																		td(valign='top', style='border:none;border-top:solid #BBBBBB 1.0pt;padding:0cm 0cm 0cm 0cm')
																														p.MsoNormal(align='center', style='text-align:center')
																															//
																																if gte vml 1
																																v:shapetype#_x0000_t75(coordsize='21600,21600', o:spt='75', o:preferrelative='t', path='m@4@5l@4@11@9@11@9@5xe', filled='f', stroked='f')
																																v:stroke(joinstyle='miter')
																																v:formulas
																																v:f(eqn='if lineDrawn pixelLineWidth 0')
																																v:f(eqn='sum @0 1 0')
																																v:f(eqn='sum 0 0 @1')
																																v:f(eqn='prod @2 1 2')
																																v:f(eqn='prod @3 21600 pixelWidth')
																																v:f(eqn='prod @3 21600 pixelHeight')
																																v:f(eqn='sum @0 0 1')
																																v:f(eqn='prod @6 1 2')
																																v:f(eqn='prod @7 21600 pixelWidth')
																																v:f(eqn='sum @8 21600 0')
																																v:f(eqn='prod @7 21600 pixelHeight')
																																v:f(eqn='sum @10 21600 0')
																																v:path(o:extrusionok='f', gradientshapeok='t', o:connecttype='rect')
																																o:lock(v:ext='edit', aspectratio='t')
																																v:shape#Picture_x0020_3(o:spid='_x0000_s1028', type='#_x0000_t75', style='position:absolute;left:0;text-align:left;margin-left:0;margin-top:.3pt;width:369.05pt;height:3.05pt;z-index:251660288;visibility:visible;mso-wrap-style:square;mso-width-percent:0;mso-height-percent:0;mso-wrap-distance-left:9pt;mso-wrap-distance-top:0;mso-wrap-distance-right:9pt;mso-wrap-distance-bottom:0;mso-position-horizontal:absolute;mso-position-horizontal-relative:text;mso-position-vertical:absolute;mso-position-vertical-relative:text;mso-width-percent:0;mso-height-percent:0;mso-width-relative:margin;mso-height-relative:margin')
																																v:imagedata(src='cid:image002.png@01D65B93.A3751DD0', o:title='')
																																o:lock(v:ext='edit', aspectratio='f')
																															//if !vml
																																| if !vml| if !vml| if !vml| if !vml| [if !vml]
																															span(style='mso-ignore:vglayout;position:absolute;z-index:251660288;left:0px;margin-left:28px;margin-top:262px;width:738px;height:6px')
																																img(width='492', height='4', style='width:5.125in;height:.0416in', src='cid:image002.png@01D65B93.A3751DD0', v:shapes='Picture_x0020_3')
																															// [endif]
																															o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(align='center', style='margin:0cm;margin-bottom:.0001pt;text-align:center;mso-line-height-alt:19.5pt')
																															span(style='font-size:22.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| Heard You Just Subscribed....
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(align='center', style='margin:0cm;margin-bottom:.0001pt;text-align:center;mso-line-height-alt:14.25pt')
																															span(style='font-size:16.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| You have embarked on the journey of a blog!
																																br
																																| So just sit back, relax, and keep reading ShowGist!
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														div(align='center')
																															table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																																tbody
																																	tr
																																		td(valign='top', style='border:none;border-top:solid #BBBBBB 1.0pt;padding:0cm 0cm 0cm 0cm')
																														p.MsoNormal(align='center', style='text-align:center')
																															//
																																if gte vml 1
																																v:shape#Picture_x0020_2(o:spid='_x0000_s1027', type='#_x0000_t75', style='position:absolute;left:0;text-align:left;margin-left:0;margin-top:-.25pt;width:369.05pt;height:3.05pt;z-index:251661312;visibility:visible;mso-wrap-style:square;mso-width-percent:0;mso-height-percent:0;mso-wrap-distance-left:9pt;mso-wrap-distance-top:0;mso-wrap-distance-right:9pt;mso-wrap-distance-bottom:0;mso-position-horizontal:absolute;mso-position-horizontal-relative:text;mso-position-vertical:absolute;mso-position-vertical-relative:text;mso-width-percent:0;mso-height-percent:0;mso-width-relative:margin;mso-height-relative:margin')
																																v:imagedata(src='cid:image002.png@01D65B93.A3751DD0', o:title='')
																																o:lock(v:ext='edit', aspectratio='f')
																															//if !vml
																																| if !vml| if !vml| if !vml| if !vml| [if !vml]
																															span(style='mso-ignore:vglayout;position:absolute;z-index:251661312;left:0px;margin-left:28px;margin-top:355px;width:738px;height:6px')
																																img(width='492', height='4', style='width:5.125in;height:.0416in', src='cid:image002.png@01D65B93.A3751DD0', v:shapes='Picture_x0020_2')
																															// [endif]
																															o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(align='center', style='margin:0cm;margin-bottom:.0001pt;text-align:center;mso-line-height-alt:18.0pt')
																															span(style='font-size:20.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| Some Recent Articles:
																																o:p
																										p.MsoNormal
																											o:p
														tr
															td(valign='top', style='padding:0cm 0cm 0cm 0cm')
																div(align='center')
																	table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='500', style='width:375.0pt;border-collapse:collapse')
																		tbody
																			tr
																				td(width='250', valign='top', style='width:187.5pt;padding:0cm 0cm 0cm 0cm')
																					div(align='center')
																						table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																							tbody
																								tr
																									td(valign='top', style='padding:3.75pt 0cm 3.75pt 0cm')
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:0cm 11.25pt 0cm 0cm')
																														p.MsoNormal(style='mso-line-height-alt:0pt')
																															img#Picture_x0020_3(border='0', width='250', height='116', style='width:2.6041in;height:1.2083in', src='https://thebuzzpaper.b-cdn.net/wp-content/uploads/2020/06/spaceforce-poster-cast-lookingup-700x325-1.jpg', alt='Alternate text')
																															o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(style='margin:0cm;margin-bottom:.0001pt;line-height:14.25pt')
																															span(style='font-size:13.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| Space Force | In-Depth Review
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(style='margin:0cm;margin-bottom:.0001pt;line-height:13.5pt')
																															span(style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| Is Steve Carrel's latest workplace comedy really as bad as the reviews suggest? This detailed review of the series may help you find the answer....
																																o:p
																										p.MsoNormal(align='center', style='text-align:center;vertical-align:top')
																											span(style='display:none')
																												o:p  
																										div(align='center')
																											table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																												tbody
																													tr
																														td(valign='top', style='padding:3.75pt 3.75pt 3.75pt 3.75pt')
																															p.MsoNormal(align='center', style='text-align:center')
																															a(href='http://showgist.herokuapp.com/articles/space-force-or-in-depth-review', target='_blank')
																																img#Picture_x0020_2(border='0', width='149', height='43', style='width:1.5486in;height:.4444in', src='https://i.ibb.co/G2g5nP4/Read-More.png', alt='Read More ')
																																o:p
																										p.MsoNormal(align='center', style='text-align:center')
																											o:p
																				td(width='250', valign='top', style='width:187.5pt;padding:0cm 0cm 0cm 0cm')
																					div(align='center')
																						table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																							tbody
																								tr
																									td(valign='top', style='padding:3.75pt 0cm 3.75pt 0cm')
																										div(align='right')
																											table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																												tbody
																													tr
																														td(valign='top', style='padding:0cm 0cm 0cm 11.25pt')
																															p.MsoNormal(align='center', style='text-align:center')
																																//
																																	if gte vml 1
																																	v:shape#Picture_x0020_1(o:spid='_x0000_s1026', type='#_x0000_t75', alt='Alternate text', style='position:absolute;left:0;text-align:left;margin-left:136.3pt;margin-top:0;width:187.5pt;height:103pt;z-index:251658240;visibility:visible;mso-wrap-style:square;mso-width-percent:0;mso-height-percent:0;mso-wrap-distance-left:0;mso-wrap-distance-top:0;mso-wrap-distance-right:0;mso-wrap-distance-bottom:0;mso-position-horizontal:right;mso-position-horizontal-relative:text;mso-position-vertical:absolute;mso-position-vertical-relative:line;mso-width-percent:0;mso-height-percent:0;mso-width-relative:page;mso-height-relative:page', o:allowoverlap='f')
																																	v:imagedata(src='cid:image005.jpg@01D65B93.A3751DD0', o:title='Alternate text')
																																	w:wrap(type='square', anchory='line')
																																//if !vml
																																	| if !vml| if !vml| if !vml| if !vml| [if !vml]
																																img(width='250', height='137', style='width:2.6041in;height:1.4305in', src='https://i.ibb.co/KWbdkff/the-most-interesting-person-in-the-room.jpg', align='right', alt='Alternate text', v:shapes='Picture_x0020_1')
																																// [endif]
																																span(style='font-size:10.0pt;font-family:"Times New Roman",serif')
																																	o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(style='margin:0cm;margin-bottom:.0001pt;line-height:14.25pt')
																															span(style='font-size:13.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| The Most Interesting Person In The Room | Review
																																o:p
																										p.MsoNormal(style='vertical-align:top')
																											span(style='display:none')
																												o:p  
																										table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																											tbody
																												tr
																													td(valign='top', style='padding:7.5pt 7.5pt 7.5pt 7.5pt')
																														p(style='margin:0cm;margin-bottom:.0001pt;line-height:13.5pt')
																															span(style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#555555;mso-fareast-language:EN-US')
																																| Kenny Sebastian releases his first Netflix comedy special The Most Interesting Person in The Room. The one-hour special is close to home, relatable and packaged well.
																																o:p
																										p.MsoNormal(align='center', style='text-align:center;vertical-align:top')
																											span(style='display:none')
																												o:p  
																										div(align='center')
																											table.MsoNormalTable(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100.0%;border-collapse:collapse')
																												tbody
																													tr
																														td(valign='top', style='padding:3.75pt 3.75pt 3.75pt 3.75pt')
																															p.MsoNormal(align='center', style='text-align:center')
																															a(href='http://showgist.herokuapp.com/articles/the-most-interesting-person-in-the-room-or-review', target='_blank')
																																img#Picture_x0020_1(border='0', width='149', height='43', style='width:1.5486in;height:.4444in', src='https://i.ibb.co/G2g5nP4/Read-More.png', alt='Read More ')
																																o:p
																										p.MsoNormal(align='center', style='text-align:center')
																											o:p
			p.MsoNormal
				o:p  
			p.MsoNormal
				o:p  
			p.MsoNormal
				o:p  
			p.MsoNormal
				o:p  